<!DOCTYPE html>
<html>
  <head>
    <title>Resend Email Verification</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Account is not active!</h1></dev>
      <p>Please check mail box or click on the button below to resend the email verification.</p>
      <form action="/auth/resend-account-verification" method="POST">
        <button type="submit">Resend Email Verification</button>
      </form>
    </div>
  </body>
</html>