<!DOCTYPE html>
<html>
<head>
  <title>Sign Up or Sign In</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to Sign Dash!</h1>
    <div class="inner-container">
      <button id="signin-button">Login</button>
      <button id="signup-button">Sign up</button>
    </div>
    <script>
      const signupButton = document.getElementById('signup-button');
      const signinButton = document.getElementById('signin-button');

      signupButton.addEventListener('click', () => {
        window.location.href = '/signup';
      });

      signinButton.addEventListener('click', () => {
        window.location.href = '/signin';
      });
    </script>
  </div>
</body>
</html>