<html>
  <head>
    <title>Sign In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body class="d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12">
          <div class="login">
            <div>
              <div id="g_id_onload"
                data-client_id=<%= googleClientId %>
                data-login_uri=<%= googleAuthCallback %>
                data-auto_prompt="false">
              </div>
              <div class="g_id_signin"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="sign_in_with"
                data-shape="rectangular"
                data-width="350"
                data-logo_alignment="left">
              </div>
            </div>
            <div class="form">
              <form id="signup-form">
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="text" id="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password" required class="form-control">
                </div>
                <div id="error-message" class="error"></div>
                <button id="submit-btn" type="submit" class="btn btn-primary btn-block">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const form = document.getElementById('signup-form');
      const submitBtn = document.getElementById('submit-btn');
      const errorMessage = document.getElementById('error-message');
      const invalidPasswordErrorMessage = 'Password must contain at least one lowercase letter, one uppercase letter, one digit, one special character, and be at least 8 characters long.';

      form.addEventListener('submit', async (event) => {
        event.preventDefault();
        submitBtn.disabled = true;

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        try {
          const response = await axios.post('/auth/email-login', {
            email: email,
            password: password
          });

          window.location.href = '/dashboard';
        } catch (error) {
          errorMessage.textContent = error.response.data.message;
        } finally {
          submitBtn.disabled = false;
        }
      });
    </script>
  </body>
</html>