<html>
  <head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script>
      async function statusChangeCallback(response) {
        if (response.status === 'connected') {
          const errorElement = document.getElementById('error-message');

          try {
            await axios.post('/auth/fb/callback', {
              userID: response.authResponse.userID,
              accessToken: response.authResponse.accessToken,
              expiresIn: response.authResponse.expiresIn,
              status: response.status,
            });

            window.location.href = '/dashboard';
          } catch (error) {
            errorElement.textContent = error.response.data.message;
          }
        }
      }

      function checkLoginState() {               // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function(response) {   // See the onlogin handler
          console.log(JSON.stringify(response));
          statusChangeCallback(response);
        });
      }

      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= fbAuthId %>,
          cookie     : true,                     // Enable cookies to allow the server to access the session.
          xfbml      : true,                     // Parse social plugins on this webpage.
          version    : 'v16.0'           // Use this Graph API version for this call.
        });
      };
    </script>
  </head>
  <body class="d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-12">
          <div class="login">
            <h4>Register By social account:</h4>
            <div class="mb-2">
              <div id="g_id_onload"
                data-client_id="<%= googleClientId %>"
                data-login_uri="<%= googleAuthCallback %>"
                data-auto_prompt="false">
              </div>
              <div class="g_id_signin"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="sign_in_with"
                data-shape="rectangular"
                data-width="290"
                data-logo_alignment="left">
              </div>
            </div>
            <fb:login-button size="xlarge" scope="public_profile,email" onlogin="checkLoginState();">Login with Facebook</fb:login-button>
            <hr>
            <h4>Register By email:</h4>
            <div class="form">
              <form id="signup-form">
                <div class="form-group">
                  <input type="text" id="email" name="email" placeholder="Email" class="form-control mb-3 border border-secondary" required>
                </div>
                <div class="form-group">
                  <input type="password" id="password" name="password" placeholder="Password" required class="form-control mb-3 border border-secondary">
                  <input type="password" id="confirm" name="confirm" placeholder="Confirm" required class="form-control mb-3 border border-secondary">
                </div>
                <div id="error-message" class="text-danger mb-2"><%= errorMessage %></div>
                <button id="submit-btn" type="submit" class="btn btn-primary btn-block">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const form = document.getElementById('signup-form');
      const submitBtn = document.getElementById('submit-btn');
      const errorElement = document.getElementById('error-message');
      const invalidPasswordErrorMessage = 'Password must contain at least one lowercase letter, one uppercase letter, one digit, one special character, and be at least 8 characters long.';

      form.addEventListener('submit', async (event) => {
        event.preventDefault();
        submitBtn.disabled = true;

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirm = document.getElementById('confirm').value;

        try {
          const response = await axios.post('/signup/account', {
            email: email,
            password: password,
            confirmedPassword: confirm,
          });

          window.location.href = '/dashboard';
        } catch (error) {
          errorElement.textContent = error.response.data.message;
        } finally {
          submitBtn.disabled = false;
        }
      });
    </script>
  </body>
</html>